<pokedex-menu></pokedex-menu>

<div class="app-content">

	<search-input></search-input>

	<md-card class="list-content">
		<md-card-header>
			<md-card-title>
				<h2>Pokemon List</h2>
			</md-card-title>
		</md-card-header>

		<md-card-content>
			
			<md-nav-list>
				<md-list-item>
					<img md-list-avatar src="http://via.placeholder.com/350x350" alt="Pokemon">
					<a md-line href="http://stivencastillo.com">Bulbasaur</a>
					<p md-line> Poison </p>
				</md-list-item>

				<md-list-item>
					<img md-list-avatar src="http://via.placeholder.com/350x350" alt="Pokemon">
					<a md-line href="http://stivencastillo.com">Bulbasaur</a>
					<p md-line> Poison </p>
				</md-list-item>

				<md-list-item>
					<img md-list-avatar src="http://via.placeholder.com/350x350" alt="Pokemon">
					<a md-line href="http://stivencastillo.com">Bulbasaur</a>
					<p md-line> Poison </p>
				</md-list-item>

				<md-list-item>
					<img md-list-avatar src="http://via.placeholder.com/350x350" alt="Pokemon">
					<a md-line href="http://stivencastillo.com">Bulbasaur</a>
					<p md-line> Poison </p>
				</md-list-item>

				<md-list-item>
					<img md-list-avatar src="http://via.placeholder.com/350x350" alt="Pokemon">
					<a md-line href="http://stivencastillo.com">Bulbasaur</a>
					<p md-line> Poison </p>
				</md-list-item>
			</md-nav-list>

			<md-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">

		</md-paginator>

		</md-card-content>
	</md-card>
</div>