<pokedex-menu></pokedex-menu>

<div class="container">

	<search-input></search-input>

	<md-card class="list-content">
		<md-card-header>
			<md-card-title>
				<h2>Pokemon List</h2>
			</md-card-title>
		</md-card-header>

		<md-card-content 
			fxLayout 
			fxLayout.xs="column" 
			fxLayoutAlign="start" 
			fxLayoutWrap="wrap">

			<paper-card 
				fxFlex="20%" 
				heading="{{ pokemon.pokemon_species.name }}" 
				image="assets/images/pokemon/{{ pokemon.entry_number }}.png" 
				alt="{{ pokemon.pokemon_species.name }}" 
				*ngFor="let pokemon of pokemons">

				<div class="card-content">
					{{ pokemon.pokemon_species.name }}
				</div>
			</paper-card>
			
		</md-card-content>
	</md-card>
</div>